@import "variables";

/* Sidebar wrapper wraps the element that can be toggled */
#sidebar-wrapper {
  z-index: 900;
  position: fixed;
  left: $sidebarWidth;
  width: $sidebarWidth;
  height: 100%;
  margin-left: $minusSidebarWidth;
  overflow-y: auto;
  overflow-x: hidden;
  background: $wetodarker; /* Navbar background*/

  #course-name{
    padding-top: 1em;
    a{
      color: $white;
    }
    a:hover{
      text-decoration: underline;
    }
  }

  /*Current task (sidebar)*/
  .expanded-task{
    .glyph-link-empty{
    }
  }

  // General override to get all margins and paddings to 0
  ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;

    li{
      margin: 0px;
      padding: 0.2em 0em;
      width: 100%;
    }
  }

  //First level:
  ul#navtree
  {
    a{
      color: $white;
      font-weight: 500;
      color: $white;
    }
    a:hover{
      text-decoration: underline;
    }

    li // First level items
    {
      .glyph-link-empty{
        padding-left: 4px;
      }

      border-bottom: 2px solid $lightgray;

      ul // Second level list
      {
        background-color: lighten($wetodarker, 5%);
        li // Second level item
        {
          border: none;
          .glyph-link-empty{
            padding-left: 9px;
          }

          ul // Third level list
          {
            background-color: lighten($wetodarker, 10%);
            li // Third level item
            {
              border: none;
              .glyph-link-empty{
                padding-left: 14px;
              }

              ul // Fourth level list
              {
                background-color: lighten($wetodarker, 15%);
                li // Fourth level item
                {
                  border: none;
                  .glyph-link-empty{
                    padding-left: 19px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #sidebar-nav{

    .nav-toggler{
      color: lighten($blue, 10%);
    }
  }

  #main-page-link{
    text-align: center;
    padding-top: $togglerBtnHeight;
  }
  #course-name{
    color: $white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
  }
  .user-status{
    border-bottom: 4px solid darken($wetodarker, 5%);
    border-top: 4px solid darken($wetodarker, 5%);
    background-color: lighten($wetodarker, 5%);
    padding: 1em 0em;
    .user-status_namefield{
      font-size: 1.2em;
      color: $white;
      text-align: center;
    }
    .logoutfield{
      font-size: 0.8em;
      text-align: center;
      span{
        color:$white;
        cursor: pointer;
      }
      span:hover{
        text-decoration: underline;
      }
    }
    .role-button{
      text-align: center;
      margin-top: 1em;
      .smallLinkButton{
        background-color: #00B3D6;
      }
      #studentGrades{
        color: lighten($blue, 20%);
      }
      #studentGrades:hover{
        text-decoration: underline;
      }
      #studentGrades:focus{
        text-decoration: underline;
      }
    }

  }
}
/* Sidebar Styles */
#sidebar-nav {
  position: absolute;
  top: 0;
  width: $sidebarWidth;
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    width: 100%;

    .glyph-link-empty{
      display: flex;
      flex-wrap: nowrap;
      cursor: pointer;

      .glyphicon{
        font-weight: 100;
        flex-grow: 0;
        padding: 0.4em;
        display: inline-block;
      }
      a{
        flex-grow: 0;
        padding: 0.3em;
        display: inline-block;
      }
      .emptyContainer{
        flex-grow: 1;
        flex-basis: 30%;
        display: inline-block;
      }
    }

    .glyph-link-empty:hover{
      .glyphicon:before{
        color: lighten($blue, 30%);
      }
    }


  }
}

/* The toggler and it's column. These are inside the content-area int the DOM. */
#sidebartoggle-wrapper{
  height: $togglerBtnHeight;
  width: $sidebarWidth;
  z-index: 999;
  text-align: left;
  position: fixed;
  display: block;
  background-color: #00B3D6;

  .btn-sidebar{
    background-color: #00B3D6;
    width: $togglerWidth;
    border-radius: 0;
    border: 0;
    padding: 0px;
    margin: 0px;
    height: $togglerBtnHeight;
    img:hover{
      background-color: none;
    }
  }

  #teacherRole-status{

    .tooltip-inner{
      width: 90px;
    }
  }
}
