@import "variables";

// Used in create task form 
.form-fieldset{
    border: 2px solid $lightgray;
    padding: 0.8em 1em 0.8em 1em;
    margin: 0px 0px 15px 0px;
    
    legend{
        display: inline-block;
        border: none;
        padding: none; 
        margin: 0px 0px 0px -8px;
        padding: 0 10px 0px 10px;
        width: auto;
        font-size: 1em;
        color: black;
    }
} 
.pseudo-legend{
    margin: 8px 0px 8px 18px;
}

// Global rules for form elements
form{
   textarea{
      resize: vertical;
   }
   input[type="number"]{
      max-width: 250px;
      overflow: visible;
   }
}
input[type="radio"]{
    margin: 3px 6px;
}
label{
    font-weight: 280;
}
.btn-danger{
   color: white;
}

/*For quiz elements, that doesn't locate inside of form-element*/
textarea{
  resize: vertical;
}