@import "variables";
@import "fonts";

/*Grading view*/
body .content-wrapper{
  .content-col{
    padding: 1em;
    background-color: $white;
    border: $darkeropaquelightgray solid 1px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    text-decoration: none;
    box-shadow: 7px 7px 3px $semi-lightgray; 
    
    .tehtava{
       margin-top: 25px;
       border-bottom: 1px solid $semi-lightgray;
       text-decoration: none;
       
       label{
          font-weight: 200;
          font-size: 1em;
       }
       // Collapsing element (Collapse row)
      .otsikko_ja_pisteet{
         cursor: pointer;
         h4{
            margin: 10px 0px 10px 0px;
         }
          .glyphicon-alert, .glyphicon-ok{
             float:right;
          }
          .glyphicon-alert{
            color: $erroryellow;
          }
          .glyphicon-ok{
             color: $darkgreen;
          }
          .glyphicon:hover{
            opacity: 0.9;
          }
          .pisteet{
             h4{
                font-weight: 900;
             }
         }
      }
      .otsikko_ja_pisteet:hover{
         h4{
            color: $semi-lightgray;
         }
      }

      .review{
         padding: 1em 0em 0em 0em;
      }
    }

    // Element that collapses
    .collapsing {
      position: relative;
      height: 0;
      overflow: hidden;
      -webkit-transition-timing-function: ease;
           -o-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-duration: .50s;
           -o-transition-duration: .50s;
              transition-duration: .50s;
      -webkit-transition-property: height, visibility;
           -o-transition-property: height, visibility;
              transition-property: height, visibility;
       padding-left: 2em;
       
    }
    // Reviews
    .review-print{
      margin: 20px 0px;
      width: 100%;
      clear: both;
      
      .left{
         float: left;
         width: 78%;
         margin-right: 2%;
      }
      .right{
         float: left;
         width: 20%;
      }
      .clearer{
         width: 100%;
         clear: both;
      }
      .points-print{
         color: $darkergreen;
         font-size: 13px;
         line-height: 1.42857em;
         font-weight: 800;
      }
      .pre-non-code{
         font-family: $font-stack;
         padding: 0.7em;
         white-space: pre-wrap;       /* CSS 3 */
         white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
         white-space: -pre-wrap;      /* Opera 4-6 */
         white-space: -o-pre-wrap;    /* Opera 7 */
         word-wrap: break-word;       /* Internet Explorer 5.5+ */
      }
      .panel-instruction{
         background-color: lighten($blue, 76%);
         border: 1px solid $lightgray;
         border-radius: 0.3em;
         padding: 0.8em;
         margin: 0px 0px 15px 0px;
         clear: both;
      }
    }
  }

  
  .content-col{ 
    a{
    
    }
    a:hover{
      text-decoration: none;
    }
    td{
      a{
        color: lighten($blue, 10%);
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}

 #editgrade-reviews
 {
    margin-top: 30px;
    
    .review{
       border-top: 3px solid $lightgray;
       border-bottom: none;
       padding-top: 10px; 
       padding-bottom: 10px;
       
       .name-and-delete{
          clear: both;
          height: 60px;
          
         .review-delete-button{
            float: right;
            display: block;
         }
         h4{
          float: left;
          display: block;
         }
       }
    }
 }

.review{
   border-bottom: 4px solid $lightgray;
   width: 100%;
   .inner-collapse{
     width: 100%;
     padding-left: 0;
     text-align: center;
     .glyphicon{
       color:$blue;
     }
     .glyphicon:hover{
       opacity: 0.7;
       cursor: pointer;
       background-color: $lightergray;
     }
     .collapse-alalinkki{
       padding-top: 0.7em;
       padding-left: 1.5em;
       padding-right: 1.5em;
       padding-bottom: 0.1em;
       border: 1px solid $semi-lightgray;
       border-bottom:1px $lightgray;

       -webkit-border-top-left-radius: 20px;
       -moz-border-top-left-radius: 20px;
       border-top-left-radius: 20px; 

       -webkit-border-top-right-radius: 20px;
       -moz-border-top-right-radius: 20px;
       border-top-right-radius: 20px; 
     }
     .collapse-alalinkki:hover{
       border: 1px solid $blue;
       border-bottom:1px $lightgray;
     }
   }
   .points-label{ 
      color: $darkergreen;
   }
   // Override bootstraps panel
   .panel{
     padding: 1em;
     background-color: $lightergray;
   }

   // Multipart-review is used with review instructions
   .multipart-review{
      margin-left: 0px;
      width: 100%;
      clear: both;

      .panel-instruction{
         background-color: lighten($blue, 76%);
         border: 1px solid $lightgray;
         border-radius: 0.3em;
         padding: 0.8em;
         margin: 0px 0px 15px 0px;
         clear: both;
      }

      .multipart-review-label{
         width: 10%;
         float: left;
         padding-top: 0.8em;
         padding-right: 0.8em;
      }

      .multipart-review-content{
         float: left;
         width: 90%;
         margin: 10px 0px 20px 0px;

         .left{
            float: left;
            width: 78%;
            margin-right: 2%;
         }
         .right{
            float: left;
            width: 20%;
         }
      }
   }

   .multipart-mark{
         margin-left: 0px;
         width: 100%;
         clear: both;

         .panel-instruction{
            background-color: lighten($blue, 76%);
            border: 1px solid $lightgray;
            border-radius: 0.3em;
            padding: 0.8em;
            margin: 0px 0px 15px 0px;
            clear: both;
         }

         .multipart-mark-label{
             width: 7%;
             float: left;
             margin-right: 4%;
         }
         .multipart-mark-content{
             width: 69%; 
             float: left;
             margin-right: 4%;
         }
         .multipart-mark-points{
             width: 16%; 
             float: left;
         }
         .multipart-mark-points-input{
             max-width: 100%;
         }
     }
     .total-mark{
         clear: both;
     }

   .singlepart-review{
      margin-left: 0px;
      .left{
         float: left;
         width: 84%;
         padding-right: 2%;
      }
      .right{
         padding-left: 2%;
         float: left;
         width: 16%;
      }
      .singlepart-review-buttons{
         display: block;
         clear: both;
      }
   }
}
#grading_header{
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;

  -moz-box-direction: row;
  -webkit-box-direction: row;
  -ms-flexbox-direction: row;
  flex-direction: row;
  .grading_header-text{
  }
  .help-sign{
    margin-top: 23px;
    margin-left: 0.5em;
  }
}