@import "variables";
@import "fonts";

/* infobar styles*/

.infoBar {
  margin: 0 auto;
  position: fixed;
  text-align: left;
  bottom: 15%;
  left: 0%;
  width: 100%;
  max-width: 100%;
  z-index: 1500;
}

#footer {
  clear: both;
}

/* Style for errors */


.errorTitle{
  h2{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  text-align: center;
  background-color: $white;
  height: 100%;
  width: 100%;
}
#errors {
  cursor: pointer;
  .error_header{
    font-weight: 200;
    color: $red;
    font-size: 2em;
    text-align: center;
  }
  .error_message{
    color: $matteblack !important;
    li{
      list-style-type: none;
    }
  }
  width: 100%;
  height: 10em;
  text-align: center;
  font-size: 1.2em;
  padding: 1.2em;
  border: 0.1em solid $red;

  background-color: transparentize($white, 0.2);
}

/* Style for messages */
#messages {
  cursor: pointer;
  .message_header{
    color: $white;
    font-weight: bold;
    font-size: 2em;
  }
  color: $white;
  width: 100%;
  height: 10em;
  text-align: center;
  font-size: 1.2em;
  padding: 1.2em;
  border: 0.1em solid $blue;

  background-color: transparentize($blue, 0.1);
  li{
    list-style-type: none;
  }
}
