@import "variables";
// List that contains all tabs
#tabnav {
  //width: 100%;
  list-style-type: none;
  background-color: $wetodarker;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  li{
    min-height: $togglerBtnHeight;
    border-right: 1px solid $white;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    // With  the whole li element
    a{
      color: $white;
      text-transform: uppercase;
      font-size: 0.75em;
      padding: 0;
      .glyphicon:hover{
        color: $black;
      }
      .glyphicon{
        padding: 9px;
        margin: 0;
      }
      .tabmenu-link{
        padding: 9px;
        display: inline-block;
      }
      .tabmenu-link-plus{
        padding: 9px 3px 9px 9px;
        display: inline-block;
      }
    }
    .actionmenu{
      display: none;
    }
  }
  .active{
    a{
      background-color: lighten($wetodarker, 10%);
    }
  }
  a:hover{
    background-color: lighten($wetodarker, 20%);
    .tabmenu-link{
      text-decoration: underline;
    }
  }

  .actionmenu{
    background-color: $wetodarker;
    //display: block;
    position: absolute;
    top: 85%;
    left: 0%;
    z-index: 1000;
    padding-left: 0px;
    min-width: 170px;

    li {
      width: 100%;

      a {
        display: inline;
        text-decoration: none;
        font-weight: 100;
        color: $lightergray;
        font-size: 0.65em;
        background-color: $wetodarker;
        padding: 8px 10px;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
.tabnav-sticky{
  position: fixed;
  // -webkit-sticky; TODO
  // position: -moz-sticky;
  // position: -ms-sticky;
  // position: -o-sticky;
  top: 0px;
  //left: $togglerWidth;
  z-index: 900;
  width: 100%;
}