//Colors
$black: #000;
$matteblack: #242825;
$red: #A52929;
$lightred: #FFAAAA;
$white: #fff;
$violet: #EE82EE;

$wetolighter: #5ecbd2;
$wetobasic: #165788;
$wetodarker: darken($wetobasic, 10%);

$lightgray: rgba(0,0,0, 0.1);
$darkeropaquelightgray: rgb(210, 210, 210);
$opaquelightgray: rgb(232, 232, 232);
$semi-lightgray: rgba(2,0,0,0.25);
$lightergray:rgb(244, 244, 244);
$darkergray: rgb(80,80,80);

$lightyellow: #FEFD31;
$erroryellow: #FEC400;
$lighteryellow: #fcf8e3;
$code-background: #272822;

$blue: #005768;
$green:#C9FFBC;
$darkgreen: #009933;
$darkergreen: #00551D;
$turquoise: rgb(64, 224, 194);
$lightblue:#AAE8F4;
$latte: #E0D1C2;

$icemint:#66FFCC;
$lighticemint: #A3FFD1;

$light-turquoise: rgba(64, 224, 194, 0.1);

$text-color: #000;
$header-color: #19578A;

$sidebarWidth: 260px;
$minusSidebarWidth: -260px;
$togglerWidth: 35px;
$togglerBtnHeight: 30px;

//Mobile variables
$onlyScreen: "only screen and (max-device-width: 480px)";

$onlyScreenRatio2: "only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 2)";

$onlyScreenRatio3: "only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 3)";
$mobileWidth48: "(max-width: 480px)";
$tabletWidth68: "(max-width: 680px)";
$tabletMin48: "and (min-width:481px)";
$lgScreen1400:"(min-width:1400px)";

$mobileContentPadding: 0.3em;
$onlyScreen2: "only screen and"