/* Weto default style sheet */
/* Forum */
@import "login";
@import "masterlayout";
@import "tabmenu";
@import "variables";
@import "forum";
@import "sidebar";
@import "fonts";
@import "editorclasses";
@import "grading";
@import "draggablelist";
@import "form";
@import "bootstrapoverride";
@import "reviewinstructions";
@import "quiz";
@import "aceEditor";
@import "dropzone";
@import "submissionview";
@import "infobar";

#courseContentPane{
  width: 100% !important;
  /*  padding-left: $togglerWidth !important; */
  padding-left: 5px;
  padding-right: 0;
  margin-left: 0 !important;
}

/*#course-header-wrapper{
  margin-left: $togglerWidth;
}*/

pre{
  /*Small override to prettify*/
  padding: 1em !important;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*List styles to actionmenu, Mainpage */
ul#actionMenu{
  margin-top: 0px;
  top:0px;
  width: 100%;
  position: fixed;
  background-color: $white;
  li{
    display: inline;
    padding-right: 2em;
    border-right: 1px solid $lightgray;
    text-align: center;
    a{
      text-align: center;
      color: $black;
    }
    a:hover{

      color: lighten($blue, 20%)
    }
    #actionMenuHeader{
      color: $black;
      font-weight: bold;
    }
    #actionMenuHeader:hover{
      color: $black;
    }
  }

}

/*Styles for mainpage, WETO-header*/
.main-row-page{
  margin-top: 5%;
  height: 100%;
  .main-header{
    padding-top: 0.2em;
    padding-right: 2em;
    padding-bottom: 0.2em;
    padding-left: 3em;
    h1{
      text-shadow: 1px 1px $white;
      padding: 0px;
      margin: 0px;
    }

  }

}
/*StudentTable*/
.studentTable-body{
  margin: 0.5em;
}

/*Mainpage styles for sections*/
section.material{
  p{
    color: $matteblack;
    font-size: 1.1em;
    padding: 0.2em;
  }
  p:first-letter{
    font-weight: bold;
    color: $font-color;
    font-size: 1.2em;
  }
  .image-element{
    img.center{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    caption{
      text-align: center;
      font-style: italic;
      margin-left: auto;
      margin-right: auto
    }
  }
}

.maincontents{
  margin-top: 0px;
  .content-col{
    margin-top: 0px;
    p{
      background-color: $lightgray;
      color: $font-color;
      padding: 1.1em;
    }
  }
}

img{
  max-width: 100%;
  max-height: 100%;
  resize: both
}
/*Browse server view*/
#taskDocumentsPopup{
  padding-left: 20%;
}

/* Global Elements / Classes */
a:link,a:visited {
  font-weight: normal;
  text-decoration: none;
  color: $blue;
}

.gray-text{
  color: #777;
}

a.hiddenFromStudents {
  text-decoration:line-through;
}

#masterLayoutBody{
  //Some texture background test
  background: $white url(../images/4_1_s.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: 3em;
}
/*Resized backgroundimages to different screen widths */
#masterLayoutBody{
  background: $white url(../images/4_1_s.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*Resized backgroundimages to different screen widths */
  @media#{$onlyScreenRatio2}{
    background: $white url(../images/4_1_mobile.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media#{$onlyScreenRatio3}{
    background: $white url(../images/4_1_mobile.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media#{$lgScreen1400}{
    background: $white url(../images/4_1.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.red {
  background: #FA5882;
}

/* Layout */

html, body {
  margin:0;
  width: 100%;
  height: 100%;
  min-width: 300px;
}

#layoutTable {
  height: 100%;
  width: 100%;
  border-spacing: 0px;
}
/* Universal classes to links*/
.linkButton {
  display: inline-block;
  background-color: $white;
  font-size: 100%;
  color: $blue !important;
  border: 2px solid;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin: 0.3em;
  cursor: pointer;
  white-space:nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.smallLinkButton {
  background-color: $white;
  font-size: 75%;
  color: $blue;
  border: 2px solid;
  padding: 0.1em;
  cursor: pointer;
  white-space:nowrap;
  display: inline-block;
}

.linkButton:link,.smallLinkButton:link {
  color: $blue;
  text-decoration: none;
}

.linkButton:visited,.smallLinkButton:visited {
  color: $blue;
  text-decoration: none;
}
.linkButton:hover,.smallLinkButton:hover {
  background-color: #EFEFEF;
  text-decoration: underline;
}

.smallLinkButton.yellow {

  padding: 0.3em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  color: $black;
  background-color: lighten($blue, 10%) !important;
  border-radius: 10px;
}

/*  Global content-column
    Styles for task contents
*/
.content-col{
  padding: 5px;
  background-color: $white;
  border: $darkeropaquelightgray solid 1px;
  margin-bottom: 1.2em;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 5px 5px 3px $semi-lightgray;
  @media #{$onlyScreen}{
    padding: 0.1em;
    box-shadow: none;
    border: none;
  }
  .nav-tabs{
    background-color: $white;

  }
}

.content-col:first-of-type{
  border-top: $darkeropaquelightgray solid 1px;
  word-wrap: normal;
}
#navMenu {
  border: 1px solid #c9c9c9;
  background: $white;
  color: $black;
  width: 100%;

  overflow-x: hidden;
}

/*Common table styles*/
th {
  padding-left: 10px;
  text-align: left;
}
table{
  overflow-x: auto;
  margin-bottom: 1em;
  .odd{
    background-color:$white;
  }
  .even{
    background-color: $lightgray;
  }
  thead{

    border:0.1em solid $blue;
    tr{
      padding: 0.7em;
      min-height: 2.5em;
      th{
        background-color: $blue;
        color: $white;
        padding: 0.2em;
      }
      td{
        padding: 0.7em;
        min-height: 2.5em;
      }
    }
  }
  tr{
    padding: 1em;
    min-height: 3em;
    th{
      background-color: $blue;
      color: $white;
    }
    td{
      padding: 0.7em;
      border:1px dashed $lightgray;
      .linkButton{
        padding: 0.1em;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
  tbody{

    border:0.1em solid $blue;
    tr{
      padding: 1em;
      min-height: 3em;
      border:1px dashed $lightgray;
      th{
        background-color: $white;
        color: $black ;
        padding: 1em;
      }
    }
    .expand-child{
      display: none;
    }
  }
}

#permission-save{
}
/* General tables */
#permissionTable{
  overflow-x: scroll;
}

#gradeTable thead tr th.header{
  cursor: pointer;
}

table td.green,table.tablesorter td.green,table.dataTable td.green,span.green,h3.green,h4.green {
  background-color: $green;
}

table td.red,table.tablesorter td.red,table.dataTable td.red,span.red,h3.red,h4.red {
  background-color: lighten($red, 25%);
  color: $white;
  a{
    color: $white;
  }
}

table td.yellow,table.tablesorter td.yellow,table.dataTable td.yellow,span.yellow,h3.yellow,h4.yellow {
  background-color: lighten($lightyellow, 23%);
  color: #51432F;
}

table td.grey,table.tablesorter td.grey,table.dataTable td.grey,span.grey,h3.grey,h4.grey {
  background-color: $lightgray;
}

table td.violet,table.tablesorter td.violet,table.dataTable td.violet,span.violet,h3.violet,h4.violet {
  background-color: $violet;
}

/* Wizards */
table.wizardtable {
  font-size: 70%;
  width: 70%;
}

td.wizardtd {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.coloredbg {
  background-color: lavender;
}

.wizarddivider {
  background-color: gray;
  max-height: 2px;
}

.nextbutton {
  float: right;
  background-color: lime;
}


#breadcrumbs {
  font-size: 0.7em;
  background-color: $white;
  li{
    a{
      color: $matteblack;
    }
    a:hover{
      text-decoration: underline;
      color: lighten($matteblack, 10%);
    }
  }
}



/* Teacher's todo */
.teacherTodo {
  background-color: $white;
  padding: 10px;
  margin-bottom: 5px;
}
/*Style for table headers*/
table{
  thead{
    tr{
      th{
        background-color: $blue;
        color: $white;
      }
    }
  }

}

/* Styles to table where sortable elements */
table.tablesorter thead tr .header{
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("../images/bg.gif");
  border-right: 1px $lightgray dashed;
  padding-right: 20px;
  white-space: nowrap;
}
table.tablesorter thead tr .headerSortDown {
  background-image: url("../images/desc.gif");
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../images/asc.gif);
}

.ui-progressbar-value {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  padding-left: 10px;
}

/* Task documents */
.thumbnail {
  width: 240px;
}

.typeicon {
  height: 60px;
}

/*Help sign to submission and grade pages*/
.header_field{
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;

  -moz-box-direction: row;
  -webkit-box-direction: row;
  -ms-flexbox-direction: row;
  flex-direction: row;

  .help-sign{
    font-size: 1.5em;
    color:lighten($blue, 20%);
    cursor: pointer;
    margin-top: 23px;
    margin-left: 0.5em;
  }
}
.help-field{
  display: none;
  cursor: help;
  color: $matteblack;
  font-size: 1em;
  font-weight: 300;
}

#reordermenu2 > ul{
  padding-left: 0;
}

.degreeBox {
  padding: 10px;
  border: 1px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.degreeHeader {
  font-weight: bold;
  font-size: large;
}