/* Font-faces */
@font-face {
  font-family: "Opensans";
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "Opensans-light";
  src: url(../fonts/OpenSans/OpenSans-Light.ttf) format("truetype"); }
@font-face {
  font-family: "Opensans-bold";
  font-weight: bold;
  src: url(../fonts/OpenSans/OpenSans-bold.ttf) format("truetype"); }
@font-face {
  font-family: "Opensans-bold2";
  font-weight: bolder;
  src: url(../fonts/OpenSans/OpenSans-Semibold.ttf) format("truetype"); }
@font-face {
  font-family: "OSitalic";
  src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf) format("truetype"); }
@font-face {
  font-family: "Lato";
  src: url(../fonts/lato/Lato-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "Latolight";
  src: url(../fonts/lato/Lato-Light.ttf) format("truetype"); }
@font-face {
  font-family: "OldStandard";
  src: url(../fonts/OldStandardTT/OldStandard-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "ArapeyR";
  src: url(../fonts/Arapey/Arapey-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "ArapeyI";
  src: url(../fonts/Arapey/Arapey-Italic.ttf) format("truetype"); }
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata.otf) format("opentype"); }
@font-face {
  font-family: "CrimsonItalic";
  font-style: italic;
  src: url(../fonts/Crimson/CrimsonText-Italic.ttf) format("truetype"); }
@font-face {
  font-family: "Crimson";
  src: url(../fonts/Crimson/CrimsonText-Roman.ttf) format("truetype"); }
@font-face {
  font-family: "CrimsonBold";
  src: url(../fonts/Crimson/CrimsonText-Bold.ttf) format("truetype"); }
/*
Font variables
*/
/* #51432F; */
/*Font-types*/
/*Added mediaqueries to change headers smaller for
  better mobile usability
*/
@media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 2) {
  h1.taskHeader {
    font-size: 2em; }

  .content-col h2 {
    font-size: 1.6em; }
  .content-col h3 {
    font-size: 1.3; }
  .content-col h4, .content-col h5 {
    font-size: 1.1em; } }
@media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 3) {
  h1.taskHeader {
    font-size: 2em; }

  .content-col h2 {
    font-size: 1.6em; }
  .content-col h3 {
    font-size: 1.3; }
  .content-col h4, .content-col h5 {
    font-size: 1.1em; } }
@media only screen and (max-device-width: 480px) {
  h1.taskHeader {
    font-size: 2em; }

  .content-col h2 {
    font-size: 1.6em; }
  .content-col h3 {
    font-size: 1.3; }
  .content-col h4, .content-col h5 {
    font-size: 1.1em; } }
/*Added mediaqueries to change glyphicons be bigger
for bigger clicking area
*/
@media only screen and (max-width: 680px) {
  .glyphicons {
    font-size: 1.1em !important;
    margin: 0.3em; } }
body {
  color: #242825;
  font-family: "Lato";
  /*If small screen width, let's change logo's font-size*/
  /*Tabmenu and sidebar*/ }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: "Opensans-light";
    font-weight: 200; }
  body h1 {
    color: #19578A;
    font-size: 3em;
    text-align: center; }
  @media (max-width: 480px) {
    body .main-header h1 {
      font-size: 6em !important;
      margin-bottom: -10px; } }
  body .main-header {
    max-width: 90%; }
    body .main-header h1, body .main-header h4 {
      font-family: "ArapeyR";
      text-align: center; }
    body .main-header h1 {
      font-size: 10em;
      color: #000;
      text-shadow: 1px 1px #fff; }
    body .main-header h4 {
      color: #262626; }
  body h2 {
    font-size: 2em; }
  body h3 {
    font-size: 1.7em; }
  body h4 {
    font-size: 1.5em; }
  body p {
    color: #242825;
    font-family: "Lato";
    font-size: 1.1em; }
  body ul {
    font-family: "Lato"; }
    body ul li a {
      font-family: "Lato"; }
    body ul a {
      font-family: "Lato"; }
  body a {
    font-family: "Lato"; }
  body .content-col a {
    text-decoration: underline; }
  body .content-col a:hover {
    color: rgba(2, 0, 0, 0.25); }
  body #tabnav {
    font-size: 1.2em; }
  body #sidebar-wrapper {
    font-family: "Lato"; }
  body #main-page-link a {
    font-family: "ArapeyI";
    color: #fff;
    font-style: italic;
    font-size: 2em; }
  body #main-page-link a:hover {
    text-decoration: underline; }

#TeacherRole-status a {
  font-family: "ArapeyI"; }

/* Error and infobar*/
#errors {
  font-family: "Opensans-light"; }

#messages {
  font-family: "Opensans-light"; }

/*Main page news*/
.news-header {
  padding-left: 1em; }

.newsTitle {
  font-family: "Opensans-light";
  font-weight: 200;
  color: #A52929;
  font-size: 1.2em; }

.newsContent > p {
  font-family: "Lato";
  font-size: 1em;
  color: #1a1a1a; }

/*Review instruction*/
.gradingScore {
  font-size: 1.2em;
  font-weight: bold; }

.instructionText p {
  font-family: "Latolight";
  font-size: 1.1em; }

.maincontents p {
  font-family: "Crimson";
  font-size: 1.1em !important; }
  .maincontents p strong {
    font-family: "CrimsonBold" "CrimsonBold"; }

/*Subtask contents / links*/
.content-tabs-actions-body .course-content-wrapper {
  /*Task content show in parent*/ }
  .content-tabs-actions-body .course-content-wrapper .content-col .showTextInParent a:link {
    font-family: "Opensans-light"; }

/*/Fonts*/
/*Grading view*/
body .content-wrapper .content-col {
  padding: 1em;
  background-color: #fff;
  border: #d2d2d2 solid 1px;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  text-decoration: none;
  box-shadow: 7px 7px 3px rgba(2, 0, 0, 0.25); }
  body .content-wrapper .content-col .tehtava {
    margin-top: 25px;
    border-bottom: 1px solid rgba(2, 0, 0, 0.25);
    text-decoration: none; }
    body .content-wrapper .content-col .tehtava label {
      font-weight: 200;
      font-size: 1em; }
    body .content-wrapper .content-col .tehtava .otsikko_ja_pisteet {
      cursor: pointer; }
      body .content-wrapper .content-col .tehtava .otsikko_ja_pisteet h4 {
        margin: 10px 0px 10px 0px; }
      body .content-wrapper .content-col .tehtava .otsikko_ja_pisteet .glyphicon-alert, body .content-wrapper .content-col .tehtava .otsikko_ja_pisteet .glyphicon-ok {
        float: right; }
      body .content-wrapper .content-col .tehtava .otsikko_ja_pisteet .glyphicon-alert {
        color: #FEC400; }
      body .content-wrapper .content-col .tehtava .otsikko_ja_pisteet .glyphicon-ok {
        color: #009933; }
      body .content-wrapper .content-col .tehtava .otsikko_ja_pisteet .glyphicon:hover {
        opacity: 0.9; }
      body .content-wrapper .content-col .tehtava .otsikko_ja_pisteet .pisteet h4 {
        font-weight: 900; }
    body .content-wrapper .content-col .tehtava .otsikko_ja_pisteet:hover h4 {
      color: rgba(2, 0, 0, 0.25); }
    body .content-wrapper .content-col .tehtava .review {
      padding: 1em 0em 0em 0em; }
  body .content-wrapper .content-col .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .50s;
    -o-transition-duration: .50s;
    transition-duration: .50s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    padding-left: 2em; }
  body .content-wrapper .content-col .review-print {
    margin: 20px 0px;
    width: 100%;
    clear: both; }
    body .content-wrapper .content-col .review-print .left {
      float: left;
      width: 78%;
      margin-right: 2%; }
    body .content-wrapper .content-col .review-print .right {
      float: left;
      width: 20%; }
    body .content-wrapper .content-col .review-print .clearer {
      width: 100%;
      clear: both; }
    body .content-wrapper .content-col .review-print .points-print {
      color: #00551D;
      font-size: 13px;
      line-height: 1.42857em;
      font-weight: 800; }
    body .content-wrapper .content-col .review-print .pre-non-code {
      font-family: "Opensans", "Lato", serif;
      padding: 0.7em;
      white-space: pre-wrap;
      /* CSS 3 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */ }
    body .content-wrapper .content-col .review-print .panel-instruction {
      background-color: #edfcff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.3em;
      padding: 0.8em;
      margin: 0px 0px 15px 0px;
      clear: both; }
body .content-wrapper .content-col a:hover {
  text-decoration: none; }
body .content-wrapper .content-col td a {
  color: #00829b; }
body .content-wrapper .content-col td a:hover {
  text-decoration: underline; }

#editgrade-reviews {
  margin-top: 30px; }
  #editgrade-reviews .review {
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px; }
    #editgrade-reviews .review .name-and-delete {
      clear: both;
      height: 60px; }
      #editgrade-reviews .review .name-and-delete .review-delete-button {
        float: right;
        display: block; }
      #editgrade-reviews .review .name-and-delete h4 {
        float: left;
        display: block; }

.review {
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  width: 100%; }
  .review .inner-collapse {
    width: 100%;
    padding-left: 0;
    text-align: center; }
    .review .inner-collapse .glyphicon {
      color: #005768; }
    .review .inner-collapse .glyphicon:hover {
      opacity: 0.7;
      cursor: pointer;
      background-color: #f4f4f4; }
    .review .inner-collapse .collapse-alalinkki {
      padding-top: 0.7em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-bottom: 0.1em;
      border: 1px solid rgba(2, 0, 0, 0.25);
      border-bottom: 1px rgba(0, 0, 0, 0.1);
      -webkit-border-top-left-radius: 20px;
      -moz-border-top-left-radius: 20px;
      border-top-left-radius: 20px;
      -webkit-border-top-right-radius: 20px;
      -moz-border-top-right-radius: 20px;
      border-top-right-radius: 20px; }
    .review .inner-collapse .collapse-alalinkki:hover {
      border: 1px solid #005768;
      border-bottom: 1px rgba(0, 0, 0, 0.1); }
  .review .points-label {
    color: #00551D; }
  .review .panel {
    padding: 1em;
    background-color: #f4f4f4; }
  .review .multipart-review {
    margin-left: 0px;
    width: 100%;
    clear: both; }
    .review .multipart-review .panel-instruction {
      background-color: #edfcff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.3em;
      padding: 0.8em;
      margin: 0px 0px 15px 0px;
      clear: both; }
    .review .multipart-review .multipart-review-label {
      width: 10%;
      float: left;
      padding-top: 0.8em;
      padding-right: 0.8em; }
    .review .multipart-review .multipart-review-content {
      float: left;
      width: 90%;
      margin: 10px 0px 20px 0px; }
      .review .multipart-review .multipart-review-content .left {
        float: left;
        width: 78%;
        margin-right: 2%; }
      .review .multipart-review .multipart-review-content .right {
        float: left;
        width: 20%; }
  .review .multipart-mark {
    margin-left: 0px;
    width: 100%;
    clear: both; }
    .review .multipart-mark .panel-instruction {
      background-color: #edfcff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.3em;
      padding: 0.8em;
      margin: 0px 0px 15px 0px;
      clear: both; }
    .review .multipart-mark .multipart-mark-label {
      width: 7%;
      float: left;
      margin-right: 4%; }
    .review .multipart-mark .multipart-mark-content {
      width: 69%;
      float: left;
      margin-right: 4%; }
    .review .multipart-mark .multipart-mark-points {
      width: 16%;
      float: left; }
    .review .multipart-mark .multipart-mark-points-input {
      max-width: 100%; }
  .review .total-mark {
    clear: both; }
  .review .singlepart-review {
    margin-left: 0px; }
    .review .singlepart-review .left {
      float: left;
      width: 84%;
      padding-right: 2%; }
    .review .singlepart-review .right {
      padding-left: 2%;
      float: left;
      width: 16%; }
    .review .singlepart-review .singlepart-review-buttons {
      display: block;
      clear: both; }

#grading_header {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  -moz-box-direction: row;
  -webkit-box-direction: row;
  -ms-flexbox-direction: row;
  flex-direction: row; }
  #grading_header .help-sign {
    margin-top: 23px;
    margin-left: 0.5em; }

/*# sourceMappingURL=grading.css.map */
