/* Font-faces */
@font-face {
  font-family: "Opensans";
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "Opensans-light";
  src: url(../fonts/OpenSans/OpenSans-Light.ttf) format("truetype"); }
@font-face {
  font-family: "Opensans-bold";
  font-weight: bold;
  src: url(../fonts/OpenSans/OpenSans-bold.ttf) format("truetype"); }
@font-face {
  font-family: "Opensans-bold2";
  font-weight: bolder;
  src: url(../fonts/OpenSans/OpenSans-Semibold.ttf) format("truetype"); }
@font-face {
  font-family: "OSitalic";
  src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf) format("truetype"); }
@font-face {
  font-family: "Lato";
  src: url(../fonts/lato/Lato-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "Latolight";
  src: url(../fonts/lato/Lato-Light.ttf) format("truetype"); }
@font-face {
  font-family: "OldStandard";
  src: url(../fonts/OldStandardTT/OldStandard-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "ArapeyR";
  src: url(../fonts/Arapey/Arapey-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "ArapeyI";
  src: url(../fonts/Arapey/Arapey-Italic.ttf) format("truetype"); }
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/Inconsolata.otf) format("opentype"); }
@font-face {
  font-family: "CrimsonItalic";
  font-style: italic;
  src: url(../fonts/Crimson/CrimsonText-Italic.ttf) format("truetype"); }
@font-face {
  font-family: "Crimson";
  src: url(../fonts/Crimson/CrimsonText-Roman.ttf) format("truetype"); }
@font-face {
  font-family: "CrimsonBold";
  src: url(../fonts/Crimson/CrimsonText-Bold.ttf) format("truetype"); }
/*
Font variables
*/
/* #51432F; */
/*Font-types*/
/*Added mediaqueries to change headers smaller for
  better mobile usability
*/
@media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 2) {
  h1.taskHeader {
    font-size: 2em; }

  .content-col h2 {
    font-size: 1.6em; }
  .content-col h3 {
    font-size: 1.3; }
  .content-col h4, .content-col h5 {
    font-size: 1.1em; } }
@media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 3) {
  h1.taskHeader {
    font-size: 2em; }

  .content-col h2 {
    font-size: 1.6em; }
  .content-col h3 {
    font-size: 1.3; }
  .content-col h4, .content-col h5 {
    font-size: 1.1em; } }
@media only screen and (max-device-width: 480px) {
  h1.taskHeader {
    font-size: 2em; }

  .content-col h2 {
    font-size: 1.6em; }
  .content-col h3 {
    font-size: 1.3; }
  .content-col h4, .content-col h5 {
    font-size: 1.1em; } }
/*Added mediaqueries to change glyphicons be bigger
for bigger clicking area
*/
@media only screen and (max-width: 680px) {
  .glyphicons {
    font-size: 1.1em !important;
    margin: 0.3em; } }
body {
  color: #242825;
  font-family: "Lato";
  /*If small screen width, let's change logo's font-size*/
  /*Tabmenu and sidebar*/ }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: "Opensans-light";
    font-weight: 200; }
  body h1 {
    color: #19578A;
    font-size: 3em;
    text-align: center; }
  @media (max-width: 480px) {
    body .main-header h1 {
      font-size: 6em !important;
      margin-bottom: -10px; } }
  body .main-header {
    max-width: 90%; }
    body .main-header h1, body .main-header h4 {
      font-family: "ArapeyR";
      text-align: center; }
    body .main-header h1 {
      font-size: 10em;
      color: #000;
      text-shadow: 1px 1px #fff; }
    body .main-header h4 {
      color: #262626; }
  body h2 {
    font-size: 2em; }
  body h3 {
    font-size: 1.7em; }
  body h4 {
    font-size: 1.5em; }
  body p {
    color: #242825;
    font-family: "Lato";
    font-size: 1.1em; }
  body ul {
    font-family: "Lato"; }
    body ul li a {
      font-family: "Lato"; }
    body ul a {
      font-family: "Lato"; }
  body a {
    font-family: "Lato"; }
  body .content-col a {
    text-decoration: underline; }
  body .content-col a:hover {
    color: rgba(2, 0, 0, 0.25); }
  body #tabnav {
    font-size: 1.2em; }
  body #sidebar-wrapper {
    font-family: "Lato"; }
  body #main-page-link a {
    font-family: "ArapeyI";
    color: #fff;
    font-style: italic;
    font-size: 2em; }
  body #main-page-link a:hover {
    text-decoration: underline; }

#TeacherRole-status a {
  font-family: "ArapeyI"; }

/* Error and infobar*/
#errors {
  font-family: "Opensans-light"; }

#messages {
  font-family: "Opensans-light"; }

/*Main page news*/
.news-header {
  padding-left: 1em; }

.newsTitle {
  font-family: "Opensans-light";
  font-weight: 200;
  color: #A52929;
  font-size: 1.2em; }

.newsContent > p {
  font-family: "Lato";
  font-size: 1em;
  color: #1a1a1a; }

/*Review instruction*/
.gradingScore {
  font-size: 1.2em;
  font-weight: bold; }

.instructionText p {
  font-family: "Latolight";
  font-size: 1.1em; }

.maincontents p {
  font-family: "Crimson";
  font-size: 1.1em !important; }
  .maincontents p strong {
    font-family: "CrimsonBold" "CrimsonBold"; }

/*Subtask contents / links*/
.content-tabs-actions-body .course-content-wrapper {
  /*Task content show in parent*/ }
  .content-tabs-actions-body .course-content-wrapper .content-col .showTextInParent a:link {
    font-family: "Opensans-light"; }

/*/Fonts*/
/* Submission */
#submissionInstructions {
  margin-bottom: 15px; }

.submissions-list {
  padding: 1em 0em; }
@-webkit-keyframes myAnim {
  0% {
    opacity: 0.2;
    filter: alpha(opacity=20); }
  100% {
    opacity: 1.0;
    filter: alpha(opacity=100); } }
@keyframes myAnim {
  0% {
    opacity: 0.2;
    filter: alpha(opacity=20); }
  100% {
    opacity: 1.0;
    filter: alpha(opacity=100); } }
  .submissions-list .submissions-list-errors {
    margin: 20px 0px 20px 0px;
    color: white;
    background-color: #A52929;
    cursor: pointer;
    -webkit-animation: myAnim 0.3s linear 1;
    animation: myAnim 0.3s linear 1; }
  .submissions-list .submission-list-excludedFiles {
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    -webkit-animation: myAnim 0.3s linear 1;
    animation: myAnim 0.3s linear 1; }
  .submissions-list .submission {
    margin: 10px 0px; }
    .submissions-list .submission .content-col:first-of-type {
      border: #d2d2d2 solid 1px; }
    .submissions-list .submission .submission-dropzoneContainer {
      margin: 20px 0px 20px 0px; }
      .submissions-list .submission .submission-dropzoneContainer .submission-dropzone:hover {
        border: 2px #009933 solid; }
      .submissions-list .submission .submission-dropzoneContainer .submission-dropzone {
        min-height: 100px;
        border: 2px #d2d2d2 solid;
        cursor: pointer; }
        .submissions-list .submission .submission-dropzoneContainer .submission-dropzone .dz-submissionMessage {
          padding: 0.5em;
          margin: 0.5em;
          text-align: center;
          font-size: 1.2em !important;
          font-family: "OSitalic";
          text-decoration: italic;
          color: #000;
          font-size: 0.7em; }
          .submissions-list .submission .submission-dropzoneContainer .submission-dropzone .dz-submissionMessage .dz-filePattern {
            font-family: "Opensans-light";
            padding: 0.1em 0.3em;
            color: #A52929;
            border-radius: 3px; }
        .submissions-list .submission .submission-dropzoneContainer .submission-dropzone .dz-preview {
          border: 2px solid #e8e8e8; }
        .submissions-list .submission .submission-dropzoneContainer .submission-dropzone .dz-message {
          margin: 0.5em;
          font-size: 1.4em;
          font-family: "Opensans-light";
          text-align: center;
          display: block;
          color: #005768; }
    .submissions-list .submission .submission-title.red {
      background-color: #A52929; }
      .submissions-list .submission .submission-title.red h3 {
        color: #fff !important; }
    .submissions-list .submission .submission-title.green {
      background-color: #C9FFBC; }
    .submissions-list .submission .submission-title.yellow {
      background-color: #FEFD31; }
    .submissions-list .submission .submission-title.gray {
      background-color: #e8e8e8; }
    .submissions-list .submission .submission-title {
      margin: 0em -1em; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
      .submissions-list .submission .submission-title .submission-title-glyphContainer .glyphicon-ok {
        color: #009933; }
      .submissions-list .submission .submission-title .submission-title-glyphContainer .glyphicon-alert {
        color: orange; }
      .submissions-list .submission .submission-title .submission-title-glyphContainer .glyphicon-ban-circle {
        color: #A52929; }
    .submissions-list .submission .submission-createFileForm {
      margin: 20px 0px 20px 0px;
      /*If mobile let's bigger form input as full size*/ }
      .submissions-list .submission .submission-createFileForm .input-group {
        max-width: 40%; }
      @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 2) {
        .submissions-list .submission .submission-createFileForm .input-group {
          max-width: 100%; } }
      @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 3) {
        .submissions-list .submission .submission-createFileForm .input-group {
          max-width: 100%; } }
      @media (max-width: 680px) and (min-width: 481px) {
        .submissions-list .submission .submission-createFileForm .input-group {
          max-width: 80%; } }
    .submissions-list .submission .submission-documentTable {
      margin: 20px 0px 20px 0px; }
      .submissions-list .submission .submission-documentTable .documentTable-transition-enter {
        opacity: 0.01; }
      .submissions-list .submission .submission-documentTable .documentTable-transition-enter-active {
        opacity: 1;
        transition: opacity .5s ease-in; }
    .submissions-list .submission .submission-scoreTable {
      margin: 20px 0px 20px 0px; }
    .submissions-list .submission .submission-deleteButtonContainer {
      margin: 0px 0px 15px 0px; }
    .submissions-list .submission .submission-submitButtonContainer {
      display: inline-block; }
      .submissions-list .submission .submission-submitButtonContainer .lightyellow {
        background-color: #fffeb0; }
    .submissions-list .submission .submission-error {
      margin: 20px 0px 20px 0px; }
      .submissions-list .submission .submission-error p {
        color: #A52929; }
    .submissions-list .submission .submission-compilerOutput {
      margin: 20px 0px 20px 0px; }
      .submissions-list .submission .submission-compilerOutput .submission-compilerOutputText {
        font-family: "Inconsolata";
        word-wrap: break-word; }
    .submissions-list .submission .panel {
      background-color: rgba(0, 0, 0, 0.1); }
    .submissions-list .submission .clearer {
      height: 0px;
      clear: both; }

/*# sourceMappingURL=submissionview.css.map */
